<section class="py-32 bg-neutral-light" id="practitioners">
  <div class="max-w-[1440px] mx-auto px-8 lg:px-12 grid lg:grid-cols-2 gap-24 items-center">
    <div class="relative">
      <div class="aspect-[4/5] bg-cover bg-center grayscale shadow-2xl" style="background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuD3CjtM0-AOoLAmeOxsybRH-1e_v5I8CvJyJXwWC3J8m9yYjr9v8zRLNX7dcDLHBcTgnJEWj2CvJTDwCLBSl6SSp98053fPQ0yOhRsHjlDnsvFOAaPAc03Gldqvir5t29YvktNnbAEJSa1VUXT1gSaFAF1ATwWRU-LrLm8tCsCv2k1pvbe5n8XRLbjP2kYYA2txJEe27cFOE1UU1jSraA5kNhnf7I6ZJQmUQctxQycqSjVaxalo3VBCU73kTFeFi5jmAA6Zbi-2haob');"></div>
      <div class="absolute -bottom-12 -right-12 w-2/3 aspect-square bg-cover bg-center border-[20px] border-neutral-light shadow-2xl" style="background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuBmNKsBdYIXFwhthiKF-NjSJmA8EDPNSIiP4y3zg9D1uvxliYulF6i1B7ydeQON_RhxhKcmIIF-wZy7X9Qf1MwSmif4Cbrnd2GLFnKx_eC2pRy2G6L2n4QI9WPoDrI5uH_O2BwlFtx1g1qf8Q0-oQ0kzJtqqGH1kqdlpGWowAEYc9smXxypAxG_4RZ697J_KRvpcpPm-Wdyg3e0wARKXz1E_R8NP7mYUWo0pANVf7AHSU3vdL1dGtSLEQv3h1cIzutEAmkbnNrsqIe4');"></div>
    </div>
    <div class="space-y-10">
      <div class="flex items-center gap-3">
        <div class="h-[1px] w-12 bg-accent"></div>
        <span class="text-[10px] uppercase tracking-[0.4em] text-accent font-bold">The Collective</span>
      </div>
      <h2 class="text-5xl text-primary leading-tight">Mastery in <br />Every Discipline.</h2>
      <p class="text-lg text-charcoal/60 leading-relaxed font-light">Our team is composed of internationally recognized experts, united by a singular commitment to clinical excellence and empathetic service. Each practitioner accepts only a limited number of clients to ensure absolute dedication.</p>
      <div class="grid grid-cols-2 gap-8 pt-6">
        <div>
          <h4 class="text-3xl text-accent mb-2">15+</h4>
          <p class="text-[10px] uppercase tracking-widest font-bold text-charcoal/40">Clinical Scholars</p>
        </div>
        <div>
          <h4 class="text-3xl text-accent mb-2">Global</h4>
          <p class="text-[10px] uppercase tracking-widest font-bold text-charcoal/40">Treatment Network</p>
        </div>
      </div>
      <div class="pt-8"><a class="inline-flex items-center gap-4 text-[10px] uppercase tracking-[0.3em] font-bold border-b-2 border-accent pb-2 hover:gap-8 transition-all" href="#">Meet the Atelier <span class="material-symbols-outlined">north_east</span></a></div>
    </div>
  </div>
</section>
